.lyriclist1 {
  flex: 5;
  margin-top: 20px;
}
.lyriclist1 > .header {
  font-size: 15px !important;
}
.lyriclist1 > .header > .header1 {
  display: flex;
  align-items: center;
  background-color: white;
}
.lyriclist1 > .header > .header1 > h3 {
  margin-left: 20px;
  font-weight: 800;
  font-size: 35px;
}
.lyriclist1 > .header > .header2 > div {
  height: 37px;
  line-height: 37px;
}
