.hotradio {
  position: relative;
  left: 15px;
  margin-top: 20px;
  width: 100%;
}
.hotradio > .header {
  font-size: 20px;
  text-align: center;
}
.hotradio > .list > .listitem {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  display: flex;
}
.hotradio > .list > .listitem > img {
  display: block;
  width: 50px;
  height: 50px;
}
.hotradio > .list > .listitem > .itemright {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
